* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dashboard {
  display: flex;

  min-height: 100vh;

  background: #f4f7fb;
}

.dashboardMain {
  flex: 1;

  margin-left: 270px;

  display: flex;

  flex-direction: column;
}

.dashboardContent {
  padding: 35px;
}

@media (max-width: 992px) {
  .dashboardMain {
    margin-left: 0;
  }

  .dashboardContent {
    padding: 20px;
  }
}
